node_modules
.git
.expo
.vscode
*.md
.env
.gitignore
eas.json
app.json
tsconfig.json
expo-env.d.ts
eslint.config.js
superintelligence-code-man.png
Mert--Acar
assets
hooks
constants
components
scripts
public
Dockerfile.backend
Dockerfile.frontend
docker-compose.yaml
lamine.yaml
